:root {
  /* Font sizes */
  --fs-title: 1.125rem;
  --fs-body: .875rem;
  --fs-small: .75rem;
  --fs-tiny: .625rem;

  /* Colors */
  --color-primary: #E6D6FC;
  --color-accent: #883AE1;
  --color-background: #FAFAF9;
  --color-grey-100: #E5EAF0;
  --color-grey-200: #6C727F;
  --color-grey-500: #20293A;
}

*, ::before, :after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-family: 'Sora', sans-serif;
  font-size: var(--fs-body);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  font-weight: 100;
}

.card {
  max-width: 368px;
  box-shadow: 8px 8px 16px 0px rgba(17, 23, 41, 0.05);
  border-radius: var(--fs-small);
  background-color: white;
  margin-top: 162px;
}

.card-top {
  padding: 20px 16px 0 16px;
  border-bottom: 1px solid var(--color-grey-100);
}

.card-bottom {
  padding: 20px 16px 20px;
  font-size: var(--fs-small);
  font-weight: 300;
  color: var(--color-grey-200);
}

.hero {
  height: 152px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: var(--fs-small);
}

.tag {
  font-size: var(--fs-tiny);
  font-weight: 600;
  padding: 3px 16px;
  background-color: var(--color-primary);
  color: var(--color-accent);
  border-radius: var(--fs-small);
  margin-bottom: 16px;
  display: inline-block;
}

h1 {
  font-size: var(--fs-title);
  margin-bottom: 6px;
  color: var(--color-grey-500);
  letter-spacing: -.2px;
}

p {
  margin-bottom: 20px;
  color: #6C727F;
  line-height: 1.5;
  letter-spacing: -.1px;
}
